@{
    ViewData["Title"] = "Partida Connect4";
}
@model PartidaModel

<h2 class="text-center">@ViewData["Title"]</h2>

<p class="text-center">Turno del Jugador: <strong id="turnoActual">Jugador 1 (Rojo)</strong></p>

<!-- Tabla del tablero centrada -->
<div class="text-center">
    <table id="tablero">
        <thead>
            <tr>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
                <th>E</th>
                <th>F</th>
                <th>G</th>
            </tr>
        </thead>
        <tbody>
        @for (int fila = 0; fila < 6; fila++)
        {
            <tr>
                @for (int col = 0; col < 7; col++)
                {
                    <td id="celda-@fila-@col" onclick="jugar(@col)">
                        <div class="disco-base"></div>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>


<script>
    const partidaIdcs = @Model.Id;
    const jugador1 = {
        id: @Model.Jugador1.Id,
        nombre: '@Model.Jugador1.Nombre',
        color: 'rojo'
    };

    const jugador2 = {
        id: @Model.Jugador2.Id,
        nombre: '@Model.Jugador2.Nombre',
        color: 'amarillo'
    };

    let juegoTerminado = false;

    //const turno = 1; // o inicializar desde el modelo si tienes algo
    const tableroGuardado = [];
</script>

<script src="~/js/Tablero.js"></script>